html {
  background: url('./backgroud.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width: 100%; */
  /* height: 100%; */
  /* position: relative; */
}

body {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background: rgba(0, 0, 0, .70);
}

.text-color-swapi {
  color: #ffe43b !important;
}

.border-color-swapi {
  border-color: #ffe43b !important;
}

.card-border-color-swapi {
  border: 1px solid #ffe43b !important;
  border-radius: 5px;
}

.transparent-input {
  border: none;
  border-bottom: 1px solid #ffe43b !important;
  border-radius: 0px !important;
  color: #ffe43b !important;
  outline: none !important;
}

.transparent-input:focus {
  box-shadow: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff !important;
}

.hover-color-swapi:hover {
  background-color: black !important;
  color: #ffe43b !important;
  border-color: #fff !important;
  outline: 0;
}

.hover-color-swapi-reverse:hover {
  background-color: black !important;
  color: #ffffff !important;
  border-color: #ffe43b !important;
  box-shadow: none !important;
}

.hover-color-li li > a:hover {
  color: #ffe43b !important;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #ffe43b !important;
  color: black !important;
  border-color: #ffffff !important;
  box-shadow: none !important;
}

.hover-color-li li > a:active,
.hover-color-li li > a.active {
  color: #ffe43b !important;
}

.active {
  color: #ffe43b !important;
}